<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="stylesheet" href="../styles/columnComponent.css">
</head>
<body>
    <div class="box" id="columnContainer">
        <p class="subtitle is-5 has-text-centered" id="title"></p>

        <div class="box" id="innerItem">
            <p class="is-size-7" id="inner-title"></p>    
            <p class="is-size-7" id="inner-description"></p>  
        </div>
    </div>
</body>
<script src="../scripts/columnComponent.js"></script>
</html>