.customStyle{
    background-color: aqua;
    height: 70vh;
    margin: 1.5rem;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.tituloEstado{
    font-size: x-large;
    margin-bottom: 10%;
}

.curved-list{
    width: 100%;
}

.curved-list li {
    background-color: #1de397; /* Color de fondo de los elementos */
    border: 2px solid #ddd; /* Borde del elemento */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 10px;
    margin: 5px;
}

