.modal-card {
    max-width: 50%;
    width: 100%;
}

.dropdown, .dropdown-trigger, .dropdown-trigger .button {
    width: 100%;
}

.dropdown-trigger .icon.is-small {
    display: none;
}

.modal-card-head .modal-card-title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.modal-card-foot {
    display: flex;
    justify-content: center;
}